@model IEnumerable<TechieTree.Models.Messages>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderTraineeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderTrainerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecieverTraineeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecieverTrainerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecieverName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderTraineeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderTrainerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecieverTraineeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecieverTrainerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecieverName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </td>
    </tr>
}

</table>
