@model IEnumerable<TechieTree.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraineeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
